.center {
	text-align: center;
}
thead {
	background-color: lightgrey;
}
.hide {
	display: none;
}
p, a, li {
    color: #3399ff;
    line-height: 1.6;
}
a:hover, a:focus, a:visited {
	color: #3366ff;
}
.footer a, .copyright a, .footer a:hover, .copyright a:hover {
    color: #3399ff;
}
.headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid #3399ff;
}